services:
  hugo:
    image: hugomods/hugo:exts-0.149.0
    container_name: hugo-blog
    volumes:
      - .:/src
    ports:
      - "1313:1313"
    working_dir: /src
    environment:
      - HUGO_ENV=development
    # 移除 --disableFastRender --disableLiveReload --ignoreCache 以提升启动速度
    command: server --bind 0.0.0.0 -D

  # 生产环境构建服务
  hugo-build:
    image: hugomods/hugo:exts-0.149.0
    volumes:
      - .:/src
    working_dir: /src
    command: build --minify
    profiles:
      - build
