services:
  hugo:
    image: hugomods/hugo:exts-0.152.2
    container_name: hugo-blog
    volumes:
      - .:/src
      - /src/resources
      - /src/public
    ports:
      - "1313:1313"
    working_dir: /src
    environment:
      - HUGO_ENV=development
    # 移除 --disableFastRender --disableLiveReload --ignoreCache 以提升启动速度
    # --poll: 启用轮询模式以解决 Windows/Docker 卷挂载下的文件变更检测失效问题
    command: server --bind 0.0.0.0 -D --poll 700ms

  # 生产环境构建服务
  hugo-build:
    image: hugomods/hugo:exts-0.152.2
    volumes:
      - .:/src
      - /src/resources
      - /src/public
    working_dir: /src
    command: build --minify
    profiles:
      - build
