<!DOCTYPE html>
{{- $theme := .Site.Params.defaultTheme | default "auto" }}
{{- if eq $theme "dark" }}
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Language.LanguageDirection | default "auto" }}" data-theme="dark">
{{- else if eq $theme "light" }}
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Language.LanguageDirection | default "auto" }}" data-theme="light">
{{- else }}
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Language.LanguageDirection | default "auto" }}" data-theme="auto">
{{- end }}

<head>
    {{- partial "head.html" . }}
</head>

{{- if (or (ne .Kind "page" ) (eq .Layout "archives") (eq .Layout "search")) }}
<body class="list has-sidebar" id="top">
{{- else }}
<body class="has-sidebar" id="top">
{{- end }}
    {{ partialCached "header.html" . .Page -}}
    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>

</html>