<header>
    <h1>{{ .Site.Title }}</h1>
    <nav>
        <ul>
            <li><a href="{{ " /" | relLangURL }}">{{ i18n "home" }}</a></li>
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | relLangURL }}">{{ i18n .Identifier }}</a></li>
            {{ end }}
            <li class="language-switch">
                {{ range .Site.Languages }}
                {{ if ne .Lang $.Site.Language.Lang }}
                <a href="{{ .Lang | relLangURL }}" class="lang-item">{{ .LanguageName }}</a>
                {{ end }}
                {{ end }}
            </li>
        </ul>
    </nav>
</header>