{{- if not .IsHome }}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ .Title }}",
    "name": "{{ .Title }}",
    "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}",
    "keywords": {{ if .Params.keywords }}{{ .Params.keywords }}{{ else }}{{ .Params.tags }}{{ end }},
    "articleBody": "{{ .Content | plainify }}",
    "wordCount" : "{{ .WordCount }}",
    "inLanguage": {{ .Language.Lang }},
    "url": "{{ .Permalink }}",
    "author": {
        "@type": "Person",
        "name": {{ .Site.Params.author | default "Anonymous" }}
    },
    "datePublished": {{ .PublishDate }},
    "dateModified": {{ .Lastmod }}
}
</script>
{{- else }}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": {{ .Site.Title }},
    "url": {{ .Site.BaseURL }},
    "description": {{ .Site.Params.description }},
    "thumbnailUrl": {{ .Site.Params.assets.favicon | default "favicon.ico" | absURL }},
    "author": {
        "@type": "Person",
        "name": {{ .Site.Params.author | default "Anonymous" }}
    }
}
</script>
{{- end }} 